.mediadetails__overview {
  min-height: 100px;
}

@media screen and (max-width: 992px) {
  .mediadetails__overview {
    text-align: start;
  }
}

.bookmark-button:active {
  opacity: 0.7;
}

.mediadetails-backdrop {
  /* background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 0.90) 70%,
        rgba(255, 255, 255, 0.90) 100%
      ),
      no-repeat center center / cover var(--backdrop-url); */
  font-family: "Inter", sans-serif;
}
