.movie-card {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 0 0.25rem 0 0.25rem;
}

@media (min-width: 768px) {
  .movie-card {
    padding: 0 10px;
  }
}

.movie-poster {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.poster-container {
  position: relative;
  transition: transform 0.3s ease-in-out;
  transform-origin: bottom;
}

.bookmark-icon {
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}

.bookmark-icon:active {
  opacity: 0.7;
}

.movie-info-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie-rating {
  background-color: #f05723;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.15rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}

.movie-rating span {
  padding: 0 5px;
}

.movie-info {
  display: flex;
  flex-direction: row;
}

.movie-card:hover .poster-container {
  transform: scale(1.03);
}

.movie-card:hover .bookmark-icon {
  transform: scale(1.8);
}

/* Убираем эффекты на экранах ниже 1024px */
@media (max-width: 1023px) {
  .movie-card:hover .poster-container,
  .movie-card:hover .bookmark-icon {
    transform: none;
  }
}
