.carousel-container .react-multiple-carousel__arrow--left {
  position: fixed;
}

.carousel-container .react-multiple-carousel__arrow--right {
  position: fixed;
}

.custom-link-hover {
  transition: opacity 0.3s ease;
  opacity: 1;
}

.custom-link-hover:hover {
  opacity: 0.7;
}

.movie-carousel-container .react-multi-carousel-track {
  align-items: flex-end;
}

@media (max-width: 576px) {
  .fs-sm-custom-5 {
    font-size: 1.25rem !important;
  }
}

@media (max-width: 768px) {
  .spinner_touch {
    left: 10vh;
    bottom: -1vh;
    position: relative;
  }
}
