.custom-navibar {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.8);
}

.navibar-icon {
  vertical-align: text-top !important;
}

.login-button {
  width: 74px;
}

.reg-button {
  width: 124px;
}
